<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>관리자 로그인</title>
    <link rel="stylesheet" href="/stylesheets/login.css" type="text/css">
    <!--sweetalert-->
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <!--제이쿼리-->
    <script
            src="https://code.jquery.com/jquery-3.3.1.js"
            integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
            crossorigin="anonymous">
    </script>

</head>
<body>
<div class="cover">
    <div class="wrapper">
        <div class="container">
            <h1>Admin Login</h1>
            <!--유저 로그인-->
            <form class="form" id="login-form" method="post" action="/admins/login">
                <input type="text" name="id" placeholder="ID">
                <input type="password" name="password" placeholder="PASSWORD">
                <button type="submit" id="login-button">Sign in</button><br>
            </form>

            <!--유저 회원가입-->
            <form class="form" action="/admins/register" method="get">
                <button id="register-button">Sign Up</button>
            </form>
        </div>
    </div>
</div>

    <script>

        function request_ajax(type, url, data, callback) {
            $.ajax({
                url: url,
                type: type,
                data: data,
                dataType: "json",
                success: callback
            });
        }

        $(document).ready(function() {

            $('#login-form').on('submit', function(event) {
                event.preventDefault();
                var data = $(this).serialize();
                request_ajax('POST', $(this).attr('action'), data, main);
            });




            function main(result) {
                if (result.status == 0) {
                    swal("로그인 실패",result.message,"error");
                } else {
                    window.location.href = "/admins/withdraw";
                }
            }
        });


    </script>

</body>
</html>
