<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>deposit</title>
    <link rel="stylesheet" href="./deposit.css" type="text/css">
</head>
<body>
<!-- 이미지 삽입 영역 -->
<div class="cover">
    <!-- 메뉴바 + 전체 내용 -->
    <div class="wrapper">
        <!-- 내용 -->
        <div class="content">
            <!-- 제목 -->
            <h1 class="texts">한눈에 보이는 회비관리</h1>
            <!-- 설명 -->
            <div class="desc">
                실시간으로 자신의 회비를 확인하세요!
            </div>
            <!-- 입력, 버튼 창 -->
            <div class="downloads">
                <input type="text" placeholder="납부할 금액">
                <button type="submit">금액 납부하기</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>