<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="/stylesheets/home.css" type="text/css">
</head>
<body>
<!-- 이미지 삽입 영역 -->
<div class="cover">
    <!-- 메뉴바 + 전체 내용 -->
    <div class="wrapper">
        <ul>
            <a href="/users/home"><li id="t">홈</li></a>
            <a href="/users/deposit"><li id="t">입금</li></a>
            <a href="/users/lookup"><li id="t">조회</li></a>
            <a href="/users/mypage"><li id="t">마이페이지</li></a>
            <a href="/users/month"><li>월말정산</li></a>
        </ul>
        <!-- 내용 -->
        <div class="content">
            <!-- 제목 -->
            <h1 class="texts"> <span style="color: orange">WELCOME</span> TO THIS PAGE</h1>
            <!-- 설명 -->
            <div class="desc">
                사용자들이 수행한 입출금에 관한 트랜잭션을 블록체인 서버에 저장합니다. <br><br>
                하나의 중앙서버가 아닌 다수의 서버를 이용하여 악의적인 접근을 차단할 수 있습니다.
            </div>
        </div>
    </div>
</div>
</body>
</html>