<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="/stylesheets/lookup.css" type="text/css">
    <link rel="stylesheet" href="http://fonts.googleapis.com/earlyaccess/notosanskr.css">
    <link rel="stylesheet" href="http://fonts.googleapis.com/earlyaccess/jejumyeongjo.css">
</head>
<body>
<!-- 이미지 삽입 영역 -->
<div class="cover">
    <!-- 메뉴바 + 전체 내용 -->
    <div class="wrapper">
        <ul>
            <a href="/users/home"><li>홈</li></a>
            <a href="/users/deposit"><li>입금</li></a>
            <a href="/users/lookup"><li>조회</li></a>
            <a href="/users/mypage"><li>마이페이지</li></a>
            <a href="/users/logout"><li>로그아웃</li></a>
        </ul>
        <!-- 내용 -->
        <div class="content">
            <!-- 제목 -->
            <div class="title">
                <h1 id="texts"> 결제 내역 조회 </h1>
            </div>

            <div class="container">
                <div class="choice-group">
                    <!-- 전체 -->
                    <label>
                        <a href="/users/lookupAllSearch">
                            <div class="all box">
                                <span> 전체 내역 </span>
                            </div>
                        </a></label>

                    <!-- 대기 -->
                    <label><a href="/users/lookupWaitSearch">
                            <div class="wait box">
                                <span> 입금 대기 내역 </span>
                            </div>
                        </a></label>

                    <!-- 완료 -->
                    <label><a href="/users/lookupConfirmSearch">
                            <div class="complete box">
                                <span> 입금 완료 내역 </span>
                            </div>
                        </a></label>

                    <!-- 지출 -->
                    <label><a href="/users/lookupWithdrawSearch">
                            <div class="complete box">
                                <span> 지출 내역 </span>
                            </div>
                        </a></label>
                </div>
            </div>
    </div>
</div>
</body>
</html>