/* body */
body{
    margin: 0; /* 여백제거 */
}

/* 최상단 block */
.wrapper{
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.menu{
    display: block;
    text-align: center;
    margin-top: 15%;
}

.box{
    width: 220px;
    height: 200px;
    left: 12%;
    padding: 10px;
    display: inline-block;
    border-radius: 20px;
    box-shadow: 5px 5px 20px #CBCDD3;
}

.menu .loc{
    margin-top: 31%;
    color: white;
    font-size: 30.5px;
}

.deposit{
    background: linear-gradient(to bottom right, #B0DB7D 40%, #99DBB4 100%);
}

.look{
    background: linear-gradient(to bottom right, #EF8D9C 40%, #FFC39E 100%);
}

.my_page{
    background: linear-gradient(to bottom right, #4ED0FF 40%, #A1E2FF 100%);
}

.month_check{
    background: linear-gradient(to bottom right, #FFF55A 40%, #FFEF4C 100%);
}