<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>메인 페이지</title>
    <link rel="stylesheet" href="./main.css" type="text/css">
</head>

<body>
<div class="wrapper">
    <div class="menu">
        <form>
            <!-- 납부 -->
            <a href="deposit.ejs" target="_blank"><div class="deposit box">납부</div></a>

            <!-- 조회 -->
            <a href="look.ejs"  target="_blank"><div class="look box">조회</div></a>

            <!-- 마이페이지 -->
            <a href="my_page.ejs" target="_blank"><div class="my_page box">마이페이지</div></a>

            <!-- 월말정산 -->
            <a href="month_check.ejs" target="_blank"><div class="month_check box">월말정산</div></a>
        </form>
    </div>
</div>
</body>

</html>
