<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>메인 페이지</title>
    <link rel="stylesheet" href="./main.css" type="text/css">
</head>

<body>
<!-- start wrapper -->
<div class="wrapper">
    <div class="menu">
        <!-- 납부 -->
        <a href="deposit.ejs" target="_blank"><div class="deposit box"><div class="loc"><h2>Deposit</h2></div></div></a>

         <!-- 조회 -->
         <a href="look.ejs"  target="_blank"><div class="look box"><div class="loc"><h2>Look</h2></div></div></a>

         <!-- 마이페이지 -->
         <a href="my_page.ejs" target="_blank"><div class="my_page box"><div class="loc"><h2>MyPage</h2></div></div></a>

         <!-- 월말정산 -->
        <a href="month_check.ejs" target="_blank"><div class="month_check box"><div class="loc"><h2>Month</h2></div></div></a>
    </div>
</div>
<!-- end wrapper -->
</body>

</html>
