/* body */
body{
    margin: 0; /* 여백제거 */
}

/* 최상단 block */
.wrapper{
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-image: url(./test.jpg);
    background-size: 100%;
}

/* 메뉴 전체영역 */
.menu{
    text-align: center;
    margin-top: 40%;
}

/* 각 메뉴 별 박스 */
.box{
    border: 1px solid black;
    border-radius: 3px;
    padding: 10px;
    display: inline-block;
    width: 7%;
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    color: black;
    font-weight: 500;
}

/* 링크 데코레이션 제거 */
a{
    text-decoration: none;
}
