<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="/stylesheets/mypage.css" type="text/css">
</head>
<body>
<!-- 이미지 삽입 영역 -->
<div class="cover">
    <!-- 메뉴바 + 전체 내용 -->
    <div class="wrapper">
        <ul>
            <a href="/users/home"><li>홈</li></a>
            <a href="/users/deposit"><li>입금</li></a>
            <a href="/users/lookup"><li>조회</li></a>
            <a href="/users/mypage"><li>마이페이지</li></a>
            <a href="/users/logout"><li>로그아웃</li></a>
        </ul>
        <!-- 내용 -->
        <div class="content">
            <!-- 제목 -->
            <h1 class="texts"> MY PAGE </h1>
            <!-- 설명 -->
            <div class="desc">
                이 페이지는 MY PAGE 입니다.
            </div>
        </div>
    </div>
</div>
</body>
</html>