<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>유저 회원가입</title>
</head>
<body>
    <form action="/users/register" method="post">
        id <input type="text" name="id"> <br>
        password <input type="text" name="password"> <br>
        passworkCheck <input type="text" name="passworkCheck"> <br>
        userName <input type="text" name="userName"> <br>
        birthDay <input type="text" name="birthDay"> <br>
        phone <input type="text" name="phone"> <br>
        sex <input type="text" name="sex"> <br>
        <input type="submit">
    </form>

</body>
</html>