<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>유저 회원가입</title>
    <link rel="stylesheet" href="/stylesheets/register.css" type="text/css">
</head>
<body>

    <!-- wrapper -->
    <div class="wrapper">
        <!-- header -->
        <div class="header">
            <h1>Sign Up</h1>
        </div>
        <!-- end header -->

        <!-- container -->
        <div class="container">
            <form action="/users/register" method="post">
                <input type="text" name="id" placeholder="ID">
                <input type="password" name="password" placeholder="Password">
                <input type="password" name="passwordCheck" placeholder="Password Check">
                <input type="text" name="name" placeholder="Name">
                <input type="text" name="birthDay" placeholder="Birth Day">
                <input type="text" name="phoneNumber" placeholder="Phone Number">
                <input type="radio" name="sex" id="man" value="man" checked="checked" > <label for="man">남자</label>
                <input type="radio" name="sex" id="woman" value="woman"> <label for="woman">여자</label> <br>
                <button type="submit" id="signUp-button">Submit</button>
            </form>
        </div>
        <!-- end container -->

    </div>
    <!-- end wrapper -->


</body>
</html>