<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>유저 로그인</title>
    <link rel="stylesheet" href="/stylesheets/login.css" type="text/css">
</head>
<body>

    <div class="wrapper">
        <div class="container">
            <h1>Welcome</h1>
            <!--유저 로그인-->
            <form class="form" method="post" action="/users/login">
                <input type="text" name="id" placeholder="ID">
                <input type="password" name="password" placeholder="PASSWORD">
                <button type="submit" id="login-button">Sign in</button><br>
            </form>

            <!--유저 회원가입-->
            <form class="form" action="/users/register" method="get">
                <button id="register-button">Sign Up</button>
            </form>
        </div>
        <ul class="bg-bubbles">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
</body>
</html>
