<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>유저 회원가입</title>
    <link rel="stylesheet" href="/stylesheets/register.css" type="text/css">

    <!--sweetalert-->
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <!--제이쿼리-->
    <script
            src="https://code.jquery.com/jquery-3.3.1.js"
            integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
            crossorigin="anonymous">
    </script>
</head>
<body>
    <!-- wrapper -->
    <div class="wrapper">

        <!-- container -->
        <div class="container">

            <h1>Sign Up</h1>

            <!-- form start -->
            <form id="register-form" action="/users/register" method="post">
                <input type="text" name="id" placeholder="아이디" class="text">
                <input type="password" name="password" placeholder="비밀번호" class="text">
                <input type="password" name="passwordCheck" placeholder="비밀번호 확인" class="text">
                <input type="text" name="name" placeholder="이름" class="text">

                <!-- sex start -->
                <div class="sex-group">
                    <!-- man -->
                    <label>
                        <input type="radio" name="sex" value="man">
                        <div class="man box">
                            <span> 남 </span>
                        </div>
                    </label>
                    <!-- end man -->

                    <!-- woman -->
                    <label>
                        <input type="radio" name="sex" value="woman">
                        <div class="woman box">
                            <span> 여 </span>
                        </div>
                    </label>
                    <!-- end woman -->
                </div>
                <!-- sex end -->

                <input type="text" name="birthDay" placeholder="생년월일[8자리]" class="text">
                <input type="text" name="phoneNumber" placeholder="휴대폰 번호" class="text">

                <!-- btn start -->
                <br>
                <div id="btn">
                    <button type="submit" id="signUp-button">가입하기</button>
                </div>
                <!-- btn end -->
            </form>
            <!-- form end -->

        </div>
        <!-- end container -->

    </div>
    <!-- end wrapper -->
</body>

<script>

    function request_ajax(type, url, data, callback) {
        $.ajax({
            url: url,
            type: type,
            data: data,
            dataType: "json",
            success: callback
        });
    }

    $(document).ready(function() {

        $('#register-form').on('submit', function(event) {
            event.preventDefault();
            var data = $(this).serialize();
            console.log(data);
            request_ajax('POST', $(this).attr('action'), data, main);
        });

        function main(result) {
            if (result.status == 0) {
                swal("회원가입 실패",result.message,"error");
            } else {
                // 회원가입 성공하면 바로 이동하지말고
                // 알트 창 띄우고 완료 누르면 이동
                var check = swal("회원가입 성공!", "", "success")
                    .then(function (check) {
                        if(check){
                            window.location.href = "/users/login";
                        }
                    })
            }
        }
    });


</script>

</html>