<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>withdraw</title>
    <link rel="stylesheet" href="/stylesheets/withdraw.css" type="text/css">
    <!--sweetalert-->
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <!--제이쿼리-->
    <script
            src="https://code.jquery.com/jquery-3.3.1.js"
            integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
            crossorigin="anonymous">

    </script>
</head>
<body>
<!-- 이미지 삽입 영역 -->
<div class="cover">
    <!-- 메뉴바 + 전체 내용 -->
    <div class="wrapper">
        <ul>
            <a href="/admins/withdraw"><li>지출하기</li></a>
            <a href="/admins/permit"><li>대기내역</li></a>
            <a href="/admins/logout"><li>로그아웃</li></a>
        </ul>
        <!-- 내용 -->
        <div class="content">
            <!-- 제목 -->
            <h1 class="texts">지출하기</h1>
            <!-- 설명 -->
            <div class="desc">
                지출할 금액의 액수와 목적을 정확하게 입력하세요
            </div>
            <!-- 입력, 버튼 창 -->
            <div class="downloads">
                <input type="number" placeholder="지출할 금액" id="money">
                <input type="text" placeholder="지출 목적" id="why">
                <button type="submit" id="deposit_btt" onclick="click">지출하기</button>
                <div class="money">
                    <h1> 잔여금액 : <%= availableMoney %> 원</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<script>

    function request_ajax(type, url, data, callback) {
        $.ajax({
            url: url,
            type: type,
            data: data,
            dataType: "json",
            success: callback
        });
    }

    $(document).ready(function() {
        $('#deposit_btt').on('click', function(event) {

        });

        function main(result) {
            if (result.status == 0) {
                alert(result.message);
            } else {
               swal("지출 성공!", "", "success")
                   .then(function (ok) {
                       console.log(ok);
                       if(ok) window.location.href = "/admins/withdraw";
                   })
            }
        }
    });

</script>
</body>
</html>