/* root */
html, body{
    height: 100%; /* 세로 늘리기 */
}

/* 전체 */
*{
    outline: 0; /* 외곽선 제거 */
    margin: 0; /* 여백 제거(바깥) */
    padding: 0; /* 여백 제거(안쪽) */
}

/* 배경 */
.cover{
    height: 100%; /* 세로 늘리기 */
    background-size: cover; /* 이미지 크기 비율 유지 */
    background-position: center; /* 이미지 위치 중앙정렬 */
    background-image: url('./cover_mypage.jpg'); /* 배경 이미지 삽입 */
}

/* 메뉴 바 영역 */
.wrapper ul{
    padding: 2%;
    text-align: right;
}

/* 메뉴 속성 */
.wrapper li{
    margin-left: 15px;
    display: inline-block;
    font-size: 17px;
    color: white;
}

/* 제목 영역 */
.title{
    text-align: center; /* 제목 영역 왼쪽 정렬 */
}

/* 제목 */
.title #texts{
    color : black;
    font-size: 70px;
    font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", Charcoal, "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black", "sans serif";
    font-weight: 300;
}
.table-group{
    margin-top: 1%;
}

table{
    margin: 0 auto;
}

table.type09 {
    border-collapse: collapse;
    text-align: center;
    line-height: 1.5;
}
table.type09 thead th {
    padding: 10px;
    font-weight: bold;
    font-size: 25px;
    vertical-align: top;
    color: #369;
    border-bottom: 3px solid #036;
    font-family: 'Noto Sans KR', sans-serif;
}
table.type09 tbody th {
    width: 350px;
    padding: 10px;
    font-weight: bold;
    border-bottom: 1px solid #ccc;
    background: #F0F7F8;
    font-family: 'Jeju Myeongjo';

}
table.type09 td {
    width: 350px;
    padding: 10px;;
    border-bottom: 1px solid #ccc;
    background: #F0F7F8;
    vertical-align: middle;
    font-size: 20px;
    font-family: 'Jeju Myeongjo';
}